/*doc
---
title: h1
name: h1
category: heading
---

```html
<div class="styleguide_content">
  <h1>h1 テキスト</h1>
</div>
```
*/
@include styleguide(h1) {
  font-size: 30px;
  font-weight: bold;
  margin-top: 3em;
  margin-bottom: 1em;
  border-bottom: 1px solid $tamogram-color-gray;
}

/*doc
---
title: h2
name: h2
category: heading
---

```html
<div class="styleguide_content">
  <h2>h2 テキスト</h2>
</div>
```
*/
@include styleguide(h2) {
  font-size: 26px;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 1em;
}

/*doc
---
title: h3
name: h3
category: heading
---

```html
<div class="styleguide_content">
  <h3>h3 テキスト</h3>
</div>
```
*/
@include styleguide(h3) {
  font-size: 22px;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*doc
---
title: h4
name: h4
category: heading
---

```html
<div class="styleguide_content">
  <h4>h4 テキスト</h4>
</div>
```
*/
@include styleguide(h4) {
  font-size: 18px;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*doc
---
title: h5
name: h5
category: heading
---

```html
<div class="styleguide_content">
  <h5>h5 テキスト</h5>
</div>
```
*/
@include styleguide(h5) {
  font-size: 16px;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*doc
---
title: h6
name: h6
category: heading
---

```html
<div class="styleguide_content">
  <h6>h6 テキスト</h6>
</div>
```
*/
@include styleguide(h6) {
  font-size: 14px;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}
