/*doc
---
title: global nav
name: nav
category: nav
---

```html
<nav class="styleguide_nav">
  <a href="#" class="styleguide_nav_item is-selected">Home</a>
  <a href="#" class="styleguide_nav_item ">Nav1</a>
  <a href="#" class="styleguide_nav_item ">Nav2</a>
  <a href="#" class="styleguide_nav_item ">Nav3</a>
  <a href="#" class="styleguide_nav_item ">Nav4</a>
</nav>
```
*/
/* nav */
.styleguide_nav {
  text-align: right;

  .styleguide_nav_item {
    padding: 5px 10px;
    color: $color-text;
    text-decoration: none;

    &.is-selected {
      border-bottom: 3px solid $color-accent;
    }
    &:hover {
      border-bottom: 3px solid $color-main;
      text-decoration: none;
    }
  }
}
