/*doc
---
title: Tamogram Theme
category: index
---

Tamogram : 1 column style guide theme for [Hologram](http://trulia.github.io/hologram/).

<https://github.com/tam-matsuo/tamogram>
*/

$color-gray: #ddd;
$color-light-gray: #f8f8f8;
$color-main: #1d2087;
$color-accent: #00aeeb;
$color-text: #222;


@import "global";
@import "heading";
@import "nav";
